<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cid</key>
		<string>9</string>
		<key>name</key>
		<string>护理学</string>
		<key>child</key>
		<array>
			<dict>
				<key>cid</key>
				<string>1000</string>
				<key>name</key>
				<string>护士资格</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1001</string>
				<key>name</key>
				<string>初级护师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1002</string>
				<key>name</key>
				<string>主管护师</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cid</key>
		<string>10</string>
		<key>name</key>
		<string>执业医师</string>
		<key>child</key>
		<array>
			<dict>
				<key>cid</key>
				<string>1003</string>
				<key>name</key>
				<string>临床执业医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1004</string>
				<key>name</key>
				<string>临床执业助理医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1005</string>
				<key>name</key>
				<string>中医（具有规定学历）执业医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1006</string>
				<key>name</key>
				<string>中医（具有规定学历）执业助理医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1007</string>
				<key>name</key>
				<string>中医（师承和确有专长）执业医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1008</string>
				<key>name</key>
				<string>中医（师承和确有专长）执业助理医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1009</string>
				<key>name</key>
				<string>中西医执业医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1010</string>
				<key>name</key>
				<string>中西医执业助理医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1011</string>
				<key>name</key>
				<string>口腔执业医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1012</string>
				<key>name</key>
				<string>口腔执业助理医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1013</string>
				<key>name</key>
				<string>公卫执业医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1014</string>
				<key>name</key>
				<string>公卫执业助理医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1015</string>
				<key>name</key>
				<string>乡村全科执业助理医师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1016</string>
				<key>name</key>
				<string>民族医医师</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cid</key>
		<string>11</string>
		<key>name</key>
		<string>执业药师</string>
		<key>child</key>
		<array>
			<dict>
				<key>cid</key>
				<string>1017</string>
				<key>name</key>
				<string>执业西药师</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1018</string>
				<key>name</key>
				<string>执业中药师</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cid</key>
		<string>12</string>
		<key>name</key>
		<string>事业单位</string>
		<key>child</key>
		<array>
			<dict>
				<key>cid</key>
				<string>1019</string>
				<key>name</key>
				<string>新大纲联考（E类）</string>
			</dict>
			<dict>
				<key>cid</key>
				<string>1020</string>
				<key>name</key>
				<string>普通招考</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
