<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>EPI</string>
		<key>child</key>
		<array>
			<dict>
				<key>name</key>
				<string>EPI-言语理解</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>片段阅读</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>逻辑填空</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>语句表达</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>篇章阅读</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>EPI-数量关系</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>数学运算</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>数字推理</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>EPI-判断推理</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>图形推理</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>类比推理</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>定义判断</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>逻辑判断</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>事件排序</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>EPI-资料分析</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>直接读数类</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>基期与现期</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>增长率相关</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>增长量相关</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>比重</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>平均数</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>倍数</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>综合分析类</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>公基</string>
		<key>child</key>
		<array>
			<dict>
				<key>name</key>
				<string>公基-法律</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>法理学</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>宪法</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>民法</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>行政法</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>刑法</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>劳动合同法</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>公基-科技</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>生物医学</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>地理知识</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>天文科技</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>生活常识</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>公基-历史人文</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>文学</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>历史</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>传统文化</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>公文</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>公基-政治</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>哲学</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>毛概</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>中特</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>英语</string>
		<key>child</key>
		<array>
			<dict>
				<key>name</key>
				<string>语法</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>名词</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>代词</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>形容词</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>介词</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>连词</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>非谓语动词</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>动词的时态和语态</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>主谓一致</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>从句</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>倒装</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>虚拟语气</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>副词</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>冠词</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>情态动词</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>完形填空</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>短篇完形填空</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>长篇完形填空</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>阅读理解</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>主旨题</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>态度题</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>是非题</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>含义题</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>细节题</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>单词</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>词汇</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>金融</string>
		<key>child</key>
		<array>
			<dict>
				<key>name</key>
				<string>金融-国际金融学</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>外汇与汇率</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>国际收支</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>国际储备</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>国际金融市场</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>国际金融机构与制度</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>国际资本流动</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>国际金融监管</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>金融-货币银行学</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>货币与货币制度</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>信用</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>利率</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>金融市场</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>投资理论</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>金融机构</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>商业银行</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>货币供求</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>货币政策</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>金融风险与监管</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>金融-金融法规</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>银行基本法律法规</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>民事法律制度</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>商事法律制度</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>职业操守</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>经济</string>
		<key>child</key>
		<array>
			<dict>
				<key>name</key>
				<string>经济-宏观经济学</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>宏观经济学概述</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>国民收入核算</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>简单国民收入的决定</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>产品市场与货币市场的一般均衡</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>宏观经济政策分析</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>总需求-总供给模型</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>失业与通货膨胀</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>开放经济下的短期经济模型</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>经济周期及经济增长理论</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>经济-微观经济学</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>微观经济学概述</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>需求、供给和均衡价格</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>弹性理论</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>消费者行为理论</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>生产理论</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>成本理论</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>市场理论</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>要素理论</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>博弈论</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>市场失灵</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>经济-政治经济学</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>经济制度的变革与演化</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>商品经济</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>资本和剩余价值</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>资本积累</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>资本的循环和周转</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>剩余价值的分配</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>社会主义市场经济</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>会计</string>
		<key>child</key>
		<array>
			<dict>
				<key>name</key>
				<string>会计基础</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>会计基础总论</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>会计要素与会计等式</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>会计科目与账户</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>复式记账</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>会计凭证</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>会计账簿</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>账务处理程序</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>会计档案</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>财产清查</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>财务报表</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>会计实务</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>货币资金</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>应收及预付款项</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>交易性金融资产</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>持有至到期投资</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>可供出售金融资产</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>长期股权投资</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>存货</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>固定资产</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>无形资产</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>投资性房地产</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>负债</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>所有者权益</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>收入、费用、利润</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>成本会计</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>其他会计实务</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>事业单位会计</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>财务管理</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>财管总论</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>财务管理基础</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>预算管理</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>筹资管理</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>投资管理</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>营运资金管理</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>成本管理</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>收入与分配管理</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>财务分析与评价</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>银行会计</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>银行会计基础</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>存款的核算</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>贷款业务的核算</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>年终决算</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>金融机构往来业务核算</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>支付结算业务</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>经济法</string>
				<key>child</key>
				<array>
					<dict>
						<key>name</key>
						<string>会计法律制度</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>支付结算法律制度</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>税收法律制度</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>财政法律制度</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>会计职业道德</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>公司法律制度</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>个人独资企业及合伙企业法律制度</string>
						<key>child</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>合同法律制度</string>
						<key>child</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>管理</string>
		<key>child</key>
		<array>
			<dict>
				<key>name</key>
				<string>管理导论</string>
				<key>child</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>管理思想与理论</string>
				<key>child</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>决策</string>
				<key>child</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>计划</string>
				<key>child</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>组织</string>
				<key>child</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>领导</string>
				<key>child</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>控制</string>
				<key>child</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>管理创新与管理工具</string>
				<key>child</key>
				<array/>
			</dict>
		</array>
	</dict>
</array>
</plist>
